{% extends 'base1.html'%}
{% load static%}

{% block content %}


      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
         <!-- content              -->

          <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Invoice Entry Approve</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Invoice Id</th>
                  <th>Supplier Invoice No</th>
                  <th>Supplier Invoice Date</th>
                  <th>Supplier Name</th>
                  <th>Supplier State</th>
                  <th>Total Amount</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
 {% for s in info %}

                        <tr class="gradeX">
                            <td>{{s.invoice_id}}</td>
                            <td>{{s.supplier_invoice_no}}</td>
                            <td>{{s.supplier_invoice_date}}</td>
                            <td>{{s.supplier_name}}</td>
                            <td>{{s.supplier_state}}</td>
                            <td>{{s.total_amount}}</td>
                            <td>{{s.status}}</td>
                            <td><a class="btn btn-primary btn-sm" >View</a><a class="btn btn-primary btn-sm" href="{% url 'approve'  s.id%}>Approve</a></td>


                        </tr>
                        {% endfor %}

                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% endblock %}

    {% block script %}

  <!-- DataTables  & Plugins -->
<script src="{%static '../../plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{%static '../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{%static '../../plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{%static '../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{%static '../../plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{%static '../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{%static '../../plugins/jszip/jszip.min.js'%}"></script>
<script src="{%static '../../plugins/pdfmake/pdfmake.min.js'%}"></script>
<script src="{%static '../../plugins/pdfmake/vfs_fonts.js'%}"></script>
<script src="{%static '../../plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{%static '../../plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{%static '../../plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>

  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>

{% endblock %}